

#portfolio{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/*navigation bar styling*/

#navbar{
  background-color:khaki;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top:0;
  z-index: 10;
  height: 50px;
}
#navbar ul{
  display: flex;
  list-style: none;
  text-decoration: none;
}
#navbar li a {
  color: black;
  padding: 20px;
  text-decoration: none;

}
#navbar li a:hover{
  background-color: greenyellow;
  border-radius: 20px;
}

/*home styling*/
#home{
  background: url(../img/im.jpeg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 30px;
  text-align: center;
  
}
.homepage{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll{
  position: absolute;
  bottom: 20px;
  text-decoration: none;
}
.scroll{
  text-decoration: none;
  padding: 70px;
  font-weight: 100;
  color: whitesmoke;
  text-decoration: none;
}
.btn{
  color: khaki;
  text-decoration: none;
  padding: 10px;
  border: 1px solid khaki;
  border-radius: 15px;
  font-weight: 100;
}
.btn:hover{
  color: greenyellow;
}

.arrow{
  position: absolute;
  top: 70%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.6s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}


/*about me section styling*/
#about{
  background: whitesmoke;
  margin-top: -20px;
}
#about h1{
  text-align: center;
  font-size: 28px;
  padding-top: 80px;
}
#about h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
}
#about .container{
  display: flex;
  padding-bottom: 20px;
}

#text-box .content{
  text-align: left;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
#text-box .content, #text-box .photo{
  flex:1;
}
#text-box .photo img{
  display: block;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 50%;
}
#text-box{
  background: whitesmoke;
}
.img-skills{
  height: 250px;
  width: 250px;

}
.column {
  float: left;
  width: 25%;
  padding: 2px;
  margin-left: 95px;
}
#about h3{
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 1px;
  line-height: 0px;
}
#about p{
  text-align: center;
}
.pskills {
  line-height: 1px;
  font-style: italic;
}
hr {
  width: 80%;
  color: lightgray;
}
.row{
  padding-bottom: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*Projects Styling*/
#projects {
  padding-top: 20px;
  padding-bottom: 20px;
}
#projects h1{
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  padding-bottom: -10px;
}
#projects h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
}

#projects p{
  text-align: center;
  line-height: 1;
}
.col{
  float: left;
  width: 25%;
  margin-left:90px;
}
.col img{
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.col img:hover{
  transform: scale(1.25);
  transform-origin: center;
  transition: transform ease-in-out 500ms;
}

.col h4{
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(58, 136, 136);
}

@media (min-width: 767px) {
  #projects .col img {
    margin: 0 0 30px;
  }
}

/*interests styling*/
#interests{
  background: linear-gradient(rgba(130, 167, 163, 0.6), rgba(167, 204, 195, 0.986)),url(../img/home.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
  color: black;
}
#interests h1{
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}
#interests h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
}
#interests p {
  text-align: center;
}

/*contact styling*/

#contact {
  background: rgb(130, 141, 130);
  height: 60vh;
  padding-top: 20px;

}

#contact h1{
  font-size: 28px;
  text-align: center;
}

#contact h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
}

.card{
  background: wheat;
  width: 40%;
  float: left;
  padding: 20px;
  margin-left: 60px;
}
.card-body{
  color: rgb(0, 0, 0);
  padding-bottom: 15px;
}
.card-body p{
  font-size: 20.8px;
  font-weight: lighter;
}
.card-body h4{
  color: black;
  text-align: center;
}
.card-body h4::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
}
.card-deck{
  padding-bottom: 20px;
  font-weight: 600;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 18px;
}
.submit{
  color: black;
  padding: 10px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 10px;
}


/*Footer Styling*/
#footer{
  background: rgb(130, 141, 130);
  margin-top:-10px;
  height: 35vh;
  padding-top: 70px;
}
.social{
  text-align: center;
  margin-top: 10px;
}

.social a{
  color: black;
  padding-left: 15px;
}
.copyright{
  text-align: center;
  padding-bottom: 5px;
}
.foot{
  width: 100%;
  border: 1px solid black;
}